<table class="table table-striped">
	<tr>
		<th>Name</th>
		<td>{{ template.name }}</td>
	</tr>
	<tr>
		<th>Images</th>
		<td>{{ template.images.join(', ') }}</td>
	</tr>
	<tr>
		<th>Ports</th>
		<td>{{ template.ports.join(', ') }}</td>
	</tr>
	<tr>
		<th>Volumes</th>
		<td>{{ template.volumes.join(', ') }}</td>
	</tr>
	<tr>
		<th>Environment</th>
		<td>{{ template.environment.join(', ') }}</td>
	</tr>
	<tr>
		<th>Backup Strategy</th>
		<td>{{ template.backup_strategy }}</td>
	</tr>
	<tr>
		<th>Scalable</th>
		<td>{{ template.scalable }}</td>
	</tr>
</table>

<br/>
<a data-ng-href="#/templates/{{ template.id }}/edit">Edit</a> |
<a data-ng-href="#/templates">Back</a>
