<table class="table table-striped">
	<tr>
		<th>Name</th>
		<td>{{ backgroundSchedule.name }}</td>
	</tr>
	<tr>
		<th>Type</th>
		<td>{{ backgroundSchedule.cron_type }}</td>
	</tr>
	<tr>
		<th>Times</th>
		<td>{{ backgroundSchedule.cron_times }}</td>
	</tr>
</table>

<br/>
<a data-ng-href="#/background_schedules/{{ backgroundSchedule.id }}/edit">Edit</a> |
<a href="#/backup">Back</a>
