<table class="table table-striped">
	<tr>
		<th>Name</th>
		<td>{{ repository.name }}</td>
	</tr>
	<tr>
		<th>Url</th>
		<td>{{ repository.url }}</td>
	</tr>
	<tr>
		<th>User</th>
		<td>{{ repository.user }}</td>
	</tr>
</table>

<br/>
<a data-ng-href="#/repositories/{{ repository.id }}/edit">Edit</a> |
<a href="#/repositories">Back</a>
