<table class="table table-striped">
	<tr>
		<th>Name</th>
		<td>{{ backupServer.name }}</td>
	</tr>
	<tr>
		<th>Url</th>
		<td>{{ backupServer.url }}</td>
	</tr>
	<tr>
		<th>User</th>
		<td>{{ backupServer.user }}</td>
	</tr>
</table>

<br/>
<a data-ng-href="#/backup_servers/{{ backupServer.id }}/edit">Edit</a> |
<a href="#/backup_servers">Back</a>
