<div data-ng-controller="RepositoryController">
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<td>{{ repository.name }}</td>
		</tr>
		<tr>
			<th>Url</th>
			<td>{{ repository.url }}</td>
		</tr>
		<tr>
			<th>User</th>
			<td>{{ repository.user }}</td>
		</tr>
	</table>

	<br/>
	<a data-ng-href="/protected/repositories/{{ repository.id }}/edit" target="_self">Edit</a> |
	<a href="/protected/repositories" target="_self">Back</a>
</div>
