<div data-ng-controller="ImagesEditController">
	<h1>Editing Image</h1>

	<form class="form-horizontal">
		<div class="form-group">
			<label for="inputName" class="col-sm-2 control-label">Name</label>

			<div class="col-sm-10">
				<input type="text" id="inputName" name="name" data-ng-model="image.name"/>
			</div>
			<div class="has-error" data-ng-if="errors.name">{{ errors.name.join(', ') }}</div>
		</div>
		<div class="form-group">
			<label for="inputTemplate" class="col-sm-2 control-label">Template</label>

			<div class="col-sm-10">
				<select id="inputTemplate" data-ng-model="image.template_id" data-ng-options="obj.id as obj.name for (key, obj) in templates" data-ng-change="templateChanged()">
					<option value=""></option>
				</select>
			</div>
			<div class="has-error" data-ng-if="errors.template">{{ errors.template.join(', ') }}</div>
		</div>
		<div class="form-group">
			<label for="inputImageType" class="col-sm-2 control-label">Image Type</label>

			<div class="col-sm-10">
				<select id="inputImageType" data-ng-model="image.image_type" data-ng-options="val for val in bootstrapData.image_types"></select>
			</div>
			<div class="has-error" data-ng-if="errors.image_type">{{ errors.image_type.join(', ') }}</div>
		</div>

		<fieldset data-ng-if="image.template_id == null">
			<legend>Custom Image</legend>
			<div class="form-group">
				<label for="inputImage" class="col-sm-2 control-label">Image</label>

				<div class="col-sm-10">
					<input type="text" id="inputImage" name="image" data-ng-model="image.image"/>
				</div>
				<div class="has-error" data-ng-if="errors.image">{{ errors.image.join(', ') }}</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">
					Ports
					<span data-ng-click="addToArray('ports')"><i class="glyphicon glyphicon-plus"></i></span>
				</label>

				<div class="col-sm-10">
					<div ng-repeat="port in image.ports">
						<label id="port-{{ $index }}">Port {{$index+1}}:</label>
						<input ng-model="port" type="text" ng-blur="editArray('ports', $index, port)"/>
						<span data-ng-click="removeFromArray('ports', $index)"><i class="glyphicon glyphicon-minus"></i></span>
					</div>
				</div>
				<div class="has-error" data-ng-if="errors.ports">{{ errors.ports.join(', ') }}</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Links
					<span data-ng-click="addToArray('links')"><i class="glyphicon glyphicon-plus"></i></span>
				</label>

				<div class="col-sm-10">
					<div ng-repeat="link in image.links">
						<label id="link-{{ $index }}">Link {{$index+1}}:</label>
						<input ng-model="link" type="text" ng-blur="editArray('links', $index, link)"/>
						<span data-ng-click="removeFromArray('links', $index)"><i class="glyphicon glyphicon-minus"></i></span>
					</div>
				</div>
				<div class="has-error" data-ng-if="errors.links">{{ errors.links.join(', ') }}</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Volumes
					<span data-ng-click="addToArray('volumes')"><i class="glyphicon glyphicon-plus"></i></span>
				</label>

				<div class="col-sm-10">
					<div ng-repeat="volume in image.volumes">
						<label id="volume-{{ $index }}">Volume {{$index+1}}:</label>
						<input ng-model="volume" type="text" ng-blur="editArray('volumes', $index, volume)"/>
						<span data-ng-click="removeFromArray('volumes', $index)"><i class="glyphicon glyphicon-minus"></i></span>
					</div>
				</div>
				<div class="has-error" data-ng-if="errors.volumes">{{ errors.volumes.join(', ') }}</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Environment variables (e.g. NAME=VAL)
					<span data-ng-click="addToArray('environment')"><i class="glyphicon glyphicon-plus"></i></span>
				</label>

				<div class="col-sm-10">
					<div ng-repeat="environment in image.environment">
						<label id="environment-{{ $index }}">Environment {{$index+1}}:</label>
						<input ng-model="environment" type="text" ng-blur="editArray('environment', $index, environment)"/>
						<span data-ng-click="removeFromArray('environment', $index)"><i class="glyphicon glyphicon-minus"></i></span>
					</div>
				</div>
				<div class="has-error" data-ng-if="errors.environment">{{ errors.environment.join(', ') }}</div>
			</div>
			<div class="form-group">
				<label for="inputScalable" class="col-sm-2 control-label">Scalable</label>

				<div class="col-sm-10">
					<input type="checkbox" value="" data-ng-model="image.scalable">
				</div>
			</div>
		</fieldset>

		<fieldset data-ng-if="image.template_id != null">
			<legend>Image from Template</legend>

			<div class="form-group">
				<label for="inputImage" class="col-sm-2 control-label">Choose Image</label>

				<div class="col-sm-10">
					<select id="inputImage" data-ng-model="image.image" data-ng-options="val for val in template.images"></select>
				</div>
				<div class="has-error" data-ng-if="errors.image">{{ errors.image.join(', ') }}</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Environment variables
				</label>

				<div class="col-sm-10">
					<div ng-repeat="environment in template.environment">
						<label id="environment-{{ $index }}">{{ environment }}:</label>
						<input ng-model="image.template_environment[environment]" type="text"/>
					</div>
				</div>
				<div class="has-error" data-ng-if="errors.environment">{{ errors.environment.join(', ') }}</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Links
					<span data-ng-click="addToArray('links')"><i class="glyphicon glyphicon-plus"></i></span>
				</label>

				<div class="col-sm-10">
					<div ng-repeat="link in image.links">
						<label id="link-{{ $index }}">Link {{$index+1}}:</label>
						<input ng-model="link" type="text" ng-blur="editArray('links', $index, link)"/>
						<span data-ng-click="removeFromArray('links', $index)"><i class="glyphicon glyphicon-minus"></i></span>
					</div>
				</div>
				<div class="has-error" data-ng-if="errors.links">{{ errors.links.join(', ') }}</div>
			</div>
			<div class="form-group">
				<label for="inputBackup" class="col-sm-2 control-label">Backup Strategy</label>

				<div class="col-sm-10">
					{{ template.backup_strategy }}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Volumes
				</label>

				<div class="col-sm-10">
					{{ image.volumes.join(', ') }}
					<span data-ng-if="image.volumes.length == 0">-</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Ports
				</label>

				<div class="col-sm-10">
					{{ image.ports.join(', ') }}
					<span data-ng-if="image.ports.length == 0">-</span>
				</div>
			</div>
		</fieldset>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button data-ng-click="saveImage()" class="btn btn-default">Save</button>
			</div>
		</div>
	</form>

	<a data-ng-href="/protected/applications/{{ applicationId }}">Back</a>
</div>
