<div data-ng-controller="ImagesEditController">
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<td>{{ image.name }}</td>
		</tr>
		<tr>
			<th>Domains</th>
			<td>{{ image.domains }}</td>
		</tr>
		<tr>
			<th colspan="2">Images</th>
		</tr>
		<tr data-ng-repeat="image in image.images">
			<td>{{ image.name }}</td>
			<td>{{ image.image_type }}</td>
		</tr>
	</table>

	<br/>
	<a data-ng-href="/protected/applications/{{ applicationId }}/images/{{ image.id }}/edit">Edit</a> |
	<a data-ng-href="/protected/applications/{{ applicationId }}">Back</a>
</div>