<div data-ng-controller="BackupServerController">
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<td>{{ backupServer.name }}</td>
		</tr>
		<tr>
			<th>Url</th>
			<td>{{ backupServer.url }}</td>
		</tr>
		<tr>
			<th>User</th>
			<td>{{ backupServer.user }}</td>
		</tr>
	</table>

	<br/>
	<a data-ng-href="/protected/backup_servers/{{ backupServer.id }}/edit" target="_self">Edit</a> |
	<a href="/protected/backup" target="_self">Back</a>
</div>
