<div data-ng-controller="BackgroundScheduleController">
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<td>{{ backgroundSchedule.name }}</td>
		</tr>
		<tr>
			<th>Type</th>
			<td>{{ backgroundSchedule.cron_type }}</td>
		</tr>
		<tr>
			<th>Times</th>
			<td>{{ backgroundSchedule.cron_times }}</td>
		</tr>
	</table>

	<br/>
	<a data-ng-href="/protected/background_schedules/{{ backgroundSchedule.id }}/edit" target="_self">Edit</a> |
	<a href="/protected/backup" target="_self">Back</a>
</div>
