<h1>Listing Applications</h1>

<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Domains</th>
		<th>Images</th>
		<th colspan="3"></th>
	</tr>
	</thead>

	<tbody>
		<tr data-ng-repeat="application in applications">
			<td>{{ application.name }}</td>
			<td>{{ application.domains.join(', ') }}</td>
			<td>--</td>
			<td><a data-ng-href="#/applications/{{ application.id }}">Show</a></td>
			<td><a data-ng-href="#/applications/{{ application.id }}/edit">Edit</a></td>
			<td>
				<a data-ng-confirm-click="destroyApplication(application)" data-ng-confirm-message="Do you really want to delete the application?">Delete</a>
			</td>
		</tr>
	</tbody>
</table>

<br>
<a data-ng-href="#/applications/new">New Application</a>
