<table class="table table-striped">
	<tr>
		<th>Name</th>
		<td>{{ application.name }}</td>
	</tr>
	<tr>
		<th>Domains</th>
		<td>{{ application.domains }}</td>
	</tr>
</table>

<br/>
<a data-ng-href="#/applications/{{ application.id }}/edit">Edit</a> |
<a href="#/applications">Back</a>

<h2>Images</h2>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Image Type</th>
		<th>Image</th>
		<th>Ports</th>
		<th>Links</th>
		<th>Volumes</th>
		<th>Environment</th>
		<th>Scalable</th>
		<th colspan="3"></th>
	</tr>
	</thead>

	<tbody>
		<tr data-ng-repeat="image in application.images">
			<td>{{ image.name }}</td>
			<td>{{ image.image_type }}</td>
			<td>{{ image.image }}</td>
			<td>{{ image.ports.join(', ') }}</td>
			<td>{{ image.links.join(', ') }}</td>
			<td>{{ image.volumes.join(', ') }}</td>
			<td>{{ image.environment.join(', ') }}</td>
			<td>{{ image.scalable }}</td>
			<td><a data-ng-href="#/applications/{{ application.id }}/images/{{ image.id }}">Show</a></td>
			<td><a data-ng-href="#/applications/{{ application.id }}/images/{{ image.id }}/edit">Edit</a></td>
			<td>
				<a data-ng-confirm-click="destroyImage(image)" data-ng-confirm-message="Do you really want to delete the image?">Delete</a>
			</td>
		</tr>
	</tbody>
</table>

<br>
<a data-ng-href="#/applications/{{ application.id }}/images/new">New Image</a> |
<a href="#/applications">Back</a>
